* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

.CodeMirror {
  height: 90vh !important;
}
.code-editor {
  display: flex;
}

.editor-container {
  flex: 1;
}

#root {
  width: 100%;
}
.output-and-terminal-container{
  flex: 1;
  width: 50vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.output-container{
  flex: 1;
  background-color: white;
}
.terminal-container{
  flex: 1;
}